.weather {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid rgb(36, 35, 35);
  padding: 20px;
  border-radius: 4px;
  line-height: 20px;
   background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
   color: #ede6e6;
  }

.weather ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.weather form {
  margin-bottom: 20px;
}
.weather img {
  display: inline-block;
  vertical-align: top;
  height: 64px;
}
.weather .temperature {
  font-size: 64px;
  font-weight: bold;
  position: relative;
  left: 20px;
  bottom: 16px;
}
.weather .unit {
  font-size: 20px;
  line-height: 1;
  font-weight: 800px;
  position: relative;
  top: -45px;
  margin-left: 20px;
}
.weather a {
  text-decoration: none;
}
.weather .btn-search {
  background-color: #6fdae7;
  color: black;
}
.weather a:hover {
  text-decoration: underline;
}
.temperature-min {
  font-weight: bold;
}
.temperature-max {
  opacity: 0.7;
}
